In [16]:
import pandas as pd
import numpy as np

In [22]:
df=pd.read_csv("dataset_Facebook.csv")
df

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 1 columns]

In [24]:
df.describe()

       Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
count                                                 500
unique                                                500
top     139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
freq                                                    1

In [3]:
df.head()

  Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0  139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1  139441;Status;2;12;3;10;0;10460;19057;1457;136...
2  139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3  139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4  139441;Photo;2;12;2;3;0;7244;13594;671;410;580...

In [4]:
df.tail()

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

In [5]:
df.head(15)

   Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0   139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1   139441;Status;2;12;3;10;0;10460;19057;1457;136...
2   139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3   139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4   139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
5   139441;Status;2;12;1;9;0;10472;20849;1191;1073...
6   139441;Photo;3;12;1;3;1;11692;19479;481;265;36...
7   139441;Photo;3;12;7;9;1;13720;24137;537;232;30...
8   139441;Status;2;12;7;3;0;11844;22538;1530;1407...
9   139441;Photo;3;12;6;10;0;4694;8668;280;183;250...
10  139441;Status;2;12;5;10;0;21744;42334;4258;410...
11  139441;Photo;2;12;5;10;0;3112;5590;208;127;145...
12  139441;Photo;2;12;5;10;0;2847;5133;193;115;133...
13  139441;Photo;2;12;5;3;0;2549;4896;249;134;168;...
14  138414;Photo;2;12;4;5;1;22784;39941;887;337;41...

In [6]:
df.tail(15)

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
485  86491;Link;1;1;2;2;0;5168;8371;66;59;71;7041;3...
486  85979;Photo;3;1;1;12;0;5034;8030;1020;993;1243...
487  85979;Photo;3;1;1;2;0;4908;7491;957;937;1153;4...
488  85979;Photo;3;1;7;10;0;9700;17442;1407;1271;20...
489  85979;Photo;3;1;7;2;0;4800;7754;975;938;1278;4...
490  85979;Photo;3;1;6;11;0;5280;8703;951;911;1237;...
491  85979;Photo;3;1;6;3;1;6184;10228;956;901;1140;...
492  85979;Link;1;1;5;11;0;45920;5808;753;655;763;1...
493  85093;Photo;3;1;1;2;0;8412;13960;1179;1111;163...
494  85093;Photo;3;1;7;10;0;5400;9218;810;756;1003;...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

In [7]:
df1=pd.DataFrame({'facebook':['comment','like','share','Total Interactions','Paid','Post Month']})

In [8]:
df1

             facebook
0             comment
1                like
2               share
3  Total Interactions
4                Paid
5          Post Month

In [9]:
df2= pd.DataFrame({'facebook':['comment','like','share','Total Interactions','Paid','Post Month']})

In [10]:
df2

             facebook
0             comment
1                like
2               share
3  Total Interactions
4                Paid
5          Post Month

In [11]:
df3= pd.merge(df1,df2,on='facebook')

In [12]:
df3

             facebook
0             comment
1                like
2               share
3  Total Interactions
4                Paid
5          Post Month

In [13]:
df1.T

                0     1      2                   3     4           5
facebook  comment  like  share  Total Interactions  Paid  Post Month

In [14]:
df1.sort_values(by=['facebook'])

             facebook
4                Paid
5          Post Month
3  Total Interactions
0             comment
1                like
2               share

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   facebook  6 non-null      object
dtypes: object(1)
memory usage: 176.0+ bytes

In [20]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   facebook  6 non-null      object
dtypes: object(1)
memory usage: 96.0+ bytes